VJoyTestFeeder/Service References/VJoyServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/vJoyInterfaceWrap" />
  <xs:element name="ConnectJoystick">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectJoystickResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectJoystickResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCurrentJoystickState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="joyId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/vJoyInterfaceWrap" minOccurs="0" name="joyState" type="q1:vJoy.JoystickState" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PostCurrentJoystickStateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>