VJoyTestFeeder/Service References/VJoyServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RemoteControllerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256>
                </sp:Basic256>
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict>
                </sp:Strict>
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/VJoyTCPService" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/vJoyInterfaceWrap" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_ConnectJoystick_InputMessage">
    <wsdl:part name="parameters" element="tns:ConnectJoystick" />
  </wsdl:message>
  <wsdl:message name="IService_ConnectJoystick_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConnectJoystickResponse" />
  </wsdl:message>
  <wsdl:message name="IService_DisconnectJoystick_InputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectJoystick" />
  </wsdl:message>
  <wsdl:message name="IService_DisconnectJoystick_OutputMessage">
    <wsdl:part name="parameters" element="tns:DisconnectJoystickResponse" />
  </wsdl:message>
  <wsdl:message name="IService_PostCurrentJoystickState_InputMessage">
    <wsdl:part name="parameters" element="tns:PostCurrentJoystickState" />
  </wsdl:message>
  <wsdl:message name="IService_PostCurrentJoystickState_OutputMessage">
    <wsdl:part name="parameters" element="tns:PostCurrentJoystickStateResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="ConnectJoystick">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/ConnectJoystick" message="tns:IService_ConnectJoystick_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/ConnectJoystickResponse" message="tns:IService_ConnectJoystick_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DisconnectJoystick">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/DisconnectJoystick" message="tns:IService_DisconnectJoystick_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/DisconnectJoystickResponse" message="tns:IService_DisconnectJoystick_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PostCurrentJoystickState">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/PostCurrentJoystickState" message="tns:IService_PostCurrentJoystickState_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/PostCurrentJoystickStateResponse" message="tns:IService_PostCurrentJoystickState_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IService" type="tns:IService">
    <wsp:PolicyReference URI="#NetTcpBinding_IService_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ConnectJoystick">
      <soap12:operation soapAction="http://tempuri.org/IService/ConnectJoystick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DisconnectJoystick">
      <soap12:operation soapAction="http://tempuri.org/IService/DisconnectJoystick" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PostCurrentJoystickState">
      <soap12:operation soapAction="http://tempuri.org/IService/PostCurrentJoystickState" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RemoteControllerService">
    <wsdl:port name="NetTcpBinding_IService" binding="tns:NetTcpBinding_IService">
      <soap12:address location="net.tcp://localhost:8529/VJoyService" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8529/VJoyService</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>localhost</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>